p {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Arial', sans-Serif;
  font-size: 100px;
  margin: 15px;
  color: rgb(0, 255, 0);
  text-shadow: 2px 2px #FFFFFF;
}


body {
    background: url(images/Drawing.png);
    background-size: 100px 100px;
   background-repeat: repeat;
   
}
